<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        #wrapper {
            width:400px;
            background-color: honeydew;
            padding: 10px;
            margin: 0 auto 0 auto;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div id ="wrapper">
        <p style="text-align: center;">Calculator</p>
        <div style="text-align: center;">
            <form>
                Value 1:<br />
                <input type="text" name="value1" /><br /><br />
                Value 2:<br />
                <input type="text" name="value2" />

                <br /><br />
                <input type="radio" name="operator" value="ADD"/> Add<br/>
                <input type="radio" name="operator" value="SUBTRACT"/> Subtract<br/>
                <input type="radio" name="operator" value="MULTIPLY"/> Multiply<br/>
                <input type="radio" name="operator" value="DIVISION"/> Division<br/>
                <input type="radio" name="operator" value="EXPONENT"/> Power of 2<br/>
                <input type="radio" name="operator" value="SINE"/> SINE<br/>
                <input type="radio" name="operator" value="COSINE"/> COSINE<br/>
                <input type="radio" name="operator" value="EXPONENT"/> Power of 2<br/>
                <input type="radio" name="operator" value="TAN"/> TANGENT<br/>
                <input type="radio" name="operator" value="COTAN"/> COTANGENT<br/>
                <input type="radio" name="operator" value="EXPONENT"/> Power of 2<br/>

                <br />
                <input type="submit" value="Calculate" />
                <div th:if="${result} != null">
                    <p th:text= "'Result: ' + ${result}"></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
